{% extends "layout.html" %}{% set active_page = "about" %}
{% block body -%}
One part cookbook and one part tribute,
That’s It! is a compilation of fan-made recreations of recipes "discovered" compilation of fan-made recreations of recipes "discovered" by Ignis Scientia in Final Fantasy XV.
Enjoy appetizers, entrées, desserts, and more, brought to you straight from the world of Eos!
<br/>

That’s It! is entirely free, and you are welcome to print it out or share it as much as you see fit,
so long as everything remains free. In other words, please do not use the content of this book for any commercial purposes!
Final Fantasy XV and all its characters, dialogues, recipe names, etc. belong solely to Square Enix; this is fan-made work.
<br/>

This book would not have been possible without the efforts of nearly 60 fans all across the world,
from Hong Kong to the UK to the Philippines, just to name a few places.
To the many folks on Reddit, Tumblr, Twitter, Instagram, etc.,
who contributed recipes, design assistance, moral support, and more: thank you.
<br/>

And to the rest of you: happy cooking!
<br/>
<br/>


<b>SPECIAL SHOUTOUTS GO TO:</b><br/>
<b>soqueweathercat:</b> for the enormous amount of time double checking unit conversions and proofreading every single last recipe<br/>
<b>all the other amazing proofreaders:</b>bibjers · brilunart · cosmic-metanoia · caitseal dawn.of.eos · ddrift · luna_libertatis · mrjoeluciano onethouneedles · pixelatedprovisions<br/>
<b>all 58 chefs:</b> for your valuable time and effort<br/>
<b>bibjers:</b> for the awesome r/CookingWithIgnis mod job honeyntoast: for the hardworking translation efforts<br/>
<b>pixelatedprovisions:</b> for the useful design feedback necnill: for the invaluable Photoshop contributions<br/>
<b>ovenspring:</b> for the recipe standardization advice aust427: for proposing the idea of a community cookbook<br/>
<b>naominlugo:</b> for being the first to cover this project in an amazing article<br/>
<b>gisalmeida & gracefularts:</b> for letting us use your art<br/>
<br/>

The countless wonderful folks who’ve shared this project, cheered it on, sent food pics, reached out to
chat, etc! You know who you are. ❤<br/>
<br/>

<b>COVER ART ATTRIBUTION:</b> gisalmeida.com.br | gisalmeidaart | gisalmeidagpa<br/>
<b>ICON ATTRIBUTION:</b> https://dribbble.com/shots/2089345-Nucleo-Free-Social-Icons<br/>
<b>GAME ATTRIBUTION:</b> Square Enix Holdings Co., Ltd.
{%- endblock %}
