<!doctype html>
<html lang="en">
{% set navigation_bar = [
    "categories",
    "recipes",
    "chefs",
    "about"
] -%}
{% set active_page = active_page|default('categories') -%}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link href="{{ url_for('static', path='css/ff.css') }}" rel="stylesheet">

    <title>{% block title %}{{ active_page.capitalize() }}{% endblock %} - Recipes</title>
</head>
<body class="bg-dark text-white">
<div class="container-fluid px-0">
    <nav class="navbar navbar-dark container-fluid">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" href="/">
            <svg class="bi me-2" height="32" width="40">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <h1 class="fs-4 text-white">Final fantasy recipes</h1>
        </a>
        <ul class="nav nav-pills">
            {% for caption in navigation_bar %}
            <li class="nav-item {% if caption == active_page %}active{% endif %}">
                <a class="nav-link text-white" href="/{{ caption }}">{{ caption.upper() }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
<div class="container-fluid clearfix"><h2>{{ active_page.upper() }}</h2></div>
<div class="container-fluid clearfix mt-4">
{% block body %}{% endblock %}
</div>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"></script>
</body>
</html>
